<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>TestGen: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>

</head>
<body>
  <div id="wrapper">
    <div id="logo"><img src="/images/logotext.png" /></div>
    <div id="maincontent">
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield %>  
    </div>
    <div id="footer">&copy; 2010 Kod: <a href="http://mith.d3v.eu">J.Drabek</a> Pytania: F.Słota</div>
  </div>
</body>
</html>
